/*disigning the top part of the page*/
html, body {
    width: auto;
    height: auto;

}
.topcontainer {
display:flex ;
background-image:url("images/coins.jpg");
background-size:cover;
background-repeat: no-repeat;
background-position: center;
height: 300px;
width: 100%;
flex-direction:column ;
gap: 30px;
}

hr{                 /* line porperties*/
    color: white;
    width: 100%;    /* this solves the problem of the line leaving the flexbox*/
    
}
.title {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 200px;
    max-width: 500px;
    align-self: center;
    justify-self: center;
    
}
/* the navigation bar properties*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 39px;
    background-color:black;
    padding: 0px 15px 0px 15px;  
}

.left{
    display: flex;
    gap: 15px;
}
/* Styling my lingks*/
a:link {
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-emphasis: bold;
}
a:hover{
    color:grey;
}