.flex-container {
background-color: whitesmoke;
text-align: center;
padding: 20px;

}

.page {
    background-color: thistle;
}

.box {
   display: flex;
   background-color:slategrey;
   color: white;
   align-items: center;
   justify-content: center;
   padding: 1px;
   
   
}